  *, *::before, *::after {
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100vh;
    align-items: center;
  }

  header {
          margin: auto;
          margin-top: 80px;
          margin-bottom: 30px;
          height: 100px;
  }

.game-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-bottom: 100px;
  padding: 20px 0;
}

.game-wrapper-outer {
  display: flex;
  justify-content: center;
}

.game-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    transform: scale(1.02);
    transform-origin: top center;
}

  canvas {
    margin-left: 95px;
    border: 5px solid white;
    display: block;
  }

  footer {
  height: 80px;
  text-align: center;
  margin-bottom: 0;
  margin-top: auto;
  font: 'Comic-Relief', sans-serif;
  }

#playBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#scoreboard {
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    color: white;
}