* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color:#060b1d;
    color:#f5f5f5;
    line-height:1.6;
    position: relative;
    height: 100%;
}

nav {
    background-color:#872323c0;
    position:fixed;
    width:100%;
    display:flex;
    justify-content:end;
    padding:15px;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    backdrop-filter: blur(8px);
}

nav a {
    color: #f5f5f5;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transition: color 0.4s ease;
}

nav a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #e63946, #ffcc00);
    transition: left 0.4s ease;
}

nav a:hover {
    color: #ffcc00;
    transform: scale(1.1);
}

nav a:hover::before {
    left:0;
}

nav a.active::before {
    left:0;
}

nav a.active {
    animation: glow 2s infinite alternate;
}

header {
    font: 'Comic-Relief', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    animation: fadeIn 2s ease-in-out;
}

header h1 {
    font-family: 'Sekuya', sans-serif;
    padding: 20px;
    font-size: 3rem;
    text-shadow: 2px 2px 8px #000;
}

header p {
    font-family: 'Comic-Relief', sans-serif;
    font-size: 1.3rem;
    margin-left: 150px;
    margin-right: 150px;
}

footer {
    background-color: #111;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    margin-top: auto;
    color: #ffffff;
}

.comic-relief-regular {
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

.sekuya-regular {
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-style: normal;
}
