*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

/* HEADER */
header {
  margin: 25px 0;
  height: 225px;
  font-family: 'Sekuya', sans-serif;
  font-size: 30px;
  background-image: url(../assets/headerbg/bg8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 4px 4px 8px #000;
}

/* ABOUT SECTION */
.game-section, .game-sect {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 1400px;
  margin: 40px auto;
  padding: 0 20px;
}

.about-sect {
  flex: 0 0 600px;
  margin: 0;
  padding: 0;
  /*background-color: rgb(243, 246, 232);
  color: #efeaf1;
  border: 3px solid #baa35e;
  border-radius: 12px;
  padding: 20px;*/
}

.about-sect h2 {
  text-align: center;
  font-family: 'Rubik Iso', sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
  color: rgb(250, 235, 251);
}

/* CREATOR PROFILES */
.creators {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 100%;
  align-items: center;
}

.profiles {
  display: flex;
  flex-direction: row;
  gap: 55px;
}

.chiara, .teo {
  width: 600px;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  gap: 15px;
  border: 1px solid rgb(246, 164, 137);
  border-radius: 20px;
  padding: 30px;
  padding-right: 0;
  background-color:rgb(250, 245, 246);
  color: rgb(75, 32, 32);
  display: flex;
  flex-direction: column;
}

.chiara img, .teo img {
  width: 170px;
  border-radius: 12px;
}

.chiara h3, .teo h3 {
  font-size: 1.2em;
}

.creator-info {
  justify-content: center;
  align-items: center;
  margin-top: 10px;

}

.overall-profile {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-right: 10px;
}   

footer {
  height: 80px;
  text-align: center;
  font-family: 'Comic Relief', sans-serif;
  margin-top: 40px;
  padding: 20px;
}

.comic-relief-regular {
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

.profile2 {
  display: flex;
  flex-direction: row;
}

.other-info {
  margin-top: 30px;
}

.socials {
  width: 250px;
  justify-content: center;
  align-items: flex-end;
}

.socials h3 {
  text-align: center;
  margin:0;
  padding: 0;
}

table{
        border-collapse: separate;
        overflow: hidden;
        margin: 15px auto;
        margin-top: 5px;
        width: 200px;
        table-layout: auto;
        z-index: 1;
    }

    td,th{
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        font-size: 17.50px;
        background-color:#f4b1cf;
        color: #382d2e;
    }

    td a {
      text-decoration: none;
      color: #382d2e;
    }

    td a:hover {
      text-shadow: #623237;
      transform: 2px 2px 4px #9d7d7d;
    }

    table.center{
        margin-left: auto;
        margin-right: auto;
    }