* {
                box-sizing: border-box;
            }

            html, body {
                height: 100%;
                margin: 0;
            }

            body {
                display: flex;
                flex-direction: column;
                font-family: 'Comic Relief', sans-serif;
                color: white;
                padding: 40px;
            }

            nav {
                display: flex;
                gap: 20px;
            }

            .home-lenk {
                margin-right: auto;
            }

            main {
                flex: 1;
            }

            header {
                margin-top: 40px;
                margin-bottom: 20px;
                height: 60px;
                font-family: 'Sekuya', sans-serif;
                font-size: 30px;
            }

            .page-container {
                display: flex;
                flex-direction: column;
                min-height: 100vh;
            }

            .characters {
                max-width: 1000px;
                margin: 0 auto;
                flex: 1;
            }

            .antagonist-gallery {
                display: flex;
                justify-content: center;
                gap: 25px;
                margin-bottom: 20px;
            }

            .chr-card {
                text-align: center;
                cursor: pointer;
            }

            .character {
                width: 150px;
                border-radius: 12px;
                border: 1px solid #aaa;
                transition: transform 0.3s ease, box-shadow 0.3s ease;
            }

            .character:hover {
                transform: scale(1.05);
                box-shadow: 0 0 25px rgba(255,255,255,0.25);
            }

            .chr-info h3 {
                margin: 10px 0 5px 0;
                justify-content: center;
                align-items: center;
            }
            

            .id-layout {
                display: flex;
                gap: 20px;
                align-items: flex-start;
                justify-content: start;
                flex-direction: row-reverse;
            }

            .id-pic img {
                margin-top: 70px;
                width: 125px;
                height: auto;
                object-fit: cover;
                border-radius: 4px;
            }

            .id-details {
                flex: 1;
            }

            .id-header {
                display: flex;
                align-items: center;
                gap: 15px;
                padding-bottom: 10px;
                margin-bottom: 15px;
            }

            .id-header h3 {
                font-size: 26px;
            }

            .logo {
                width: 55px;
                height: auto;
            }

            .info-panel {
                font-family: 'Comic-Relief', sans-serif;
                max-width: 750px;
                margin: 0 auto;
                margin-bottom: 25px;
                background-color: #F1FAEE;
                color: #222;
                border-radius: 12px;
                overflow: hidden;
                max-height: 0;
                opacity: 0;
                padding: 0 24px;
                transition: max-height 0.45s ease, opacity 0.3s ease;
            }

            .info-panel.show {
                max-height: 400px;
                opacity: 1;
                padding: 24px;
            }

            .info-panel h2 {
                margin-top: 0;
                color: #222;
                justify-content: center;
                text-align: center;
            }

            .info-panel p {
                color: #222;
                line-height: 1.6;
                margin: 4px 0;
            }

            .backbtn {
                cursor: pointer;
                text-decoration: none;
                font-family: 'Comic-Relief', sans-serif;
                font-size: 18px;
                color:#dfdddd;
                margin-left:50px;
                font-weight: bold;
            }

            footer {
                text-align: center;
                margin-top: 40px;
            }