header {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    height: 225px;
    background-image: url(../assets/headerbg/bg7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
            margin-bottom: 0;
            margin-top: auto;
            font: 'Comic-Relief', sans-serif;
}
