    header {
            margin: auto;
            margin-top: 25px;
            margin-bottom: 30px;
            height: 225px;
            background-image: url(../assets/headerbg/bg4.jpg);
            background-repeat: no-repeat;
            background-size: cover;
      }

      body {
        font-family: "Comic Relief", sans-serif;
      }

      .home-lenk {
        margin-right: auto;
      }

      /* ---------- ACCORDION ---------- */

      .accordion {
        margin: 20px auto;
        width: 60em;
        background: #1b1b1b;
        border: 2px solid #858585;
        border-radius: 8px;
      }

      .accordion-trigger {
        width: 100%;
        padding: 1em 1.5em;
        background: none;
        color: white;
        border: none;
        font-size: 1rem;
        text-align: left;
        cursor: pointer;
        position: relative;
        font-family: "Chango", sans-serif;
      }

      .accordion-trigger:hover {
        background: #343434;
      }

      .accordion-icon {
        position: absolute;
        right: 2em;
        top: 50%;
        width: 0.5rem;
        height: 0.5rem;
        border: solid currentcolor;
        border-width: 0 2px 2px 0;
        transform: translateY(-50%) rotate(45deg);
      }

      .accordion-trigger[aria-expanded="true"] .accordion-icon {
        transform: translateY(-50%) rotate(-135deg);
      }

      .accordion-panel {
        padding: 1.5em;
        color: white;
        font-family: "Comic Relief", sans-serif;
      }

      .accordion-panel p {
        text-align: center;
        font-family: "Comic Relief", sans-serif;
        font-size: 1.5rem;
      }

      .accordion-panel[hidden] {
        display: none;
      }

      /* ---------- SLIDER ---------- */

      .slider {
        position: relative;
        max-width: 600px;
        margin: 5px auto;
        overflow: hidden;
      }

      .slides img {
        display: none;
        width: 100%;
        border-radius: 8px;
      }

      .slides img.active {
        display: block;
      }

      .slider button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.6);
        color: white;
        border: none;
        padding: 10px 14px;
        cursor: pointer;
        font-size: 18px;
      }

      .slider .prev {
        left: 10px;
      }

      .slider .next {
        right: 10px;
      }

      .chango-regular {
        font-family: "Chango", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

      .synopsis{
        font-size: 15px;
        line-height: 1.6;
        border: 1.5px solid #c4944c;
        border-radius: 8px;
        padding: 15px;
        background-color: #f9eece;
        font-family:'comic relief', sans-serif;
      }

      .synopsis p{
        color: #000000
      }